.quanlynhaphoachitiet {
    margin: 0 35px;

    .item1 {
        text-transform: uppercase;
        font-weight   : 600;
        font-size     : 25px;
        text-align    : center;
        margin        : 20px 0;

    }

    .item11 {
        font-weight: 400;

        span {
            font-weight: 500;
            font-size  : 19px;
        }

        button {
            font-weight: 500;
            font-size  : 19px;
            opacity    : 1;

            &.trangthai {
                opacity: 0.4;
            }
        }
    }

    .timkiemhoadonchitiet {
        width      : 345px;
        margin-top : -38px;
        margin-left: 1122px;
    }

    .item3 {
        margin-top: 20px;

        thead {
            position        : sticky;
            top             : 30px;
            background-color: white;
            z-index         : 10;
        }

        i {
            margin : 0px 10px;
            opacity: 0.5;

            &:hover {
                opacity: 1;
            }
        }

        button {
            border          : none;
            background-color: white;
        }
    }
}