.quanlyhoa {
    margin: 0 35px;

    .item1 {
        text-transform: uppercase;
        font-weight   : 600;
        font-size     : 25px;
        text-align    : center;
        margin        : 20px 0;

    }

    .timkiemhoa {
        width      : 467px;
        margin-top : -38px;
        margin-left: 998px;
    }

    .item2 {

        .inputtieude {
            height     : 80px;
            white-space: pre-wrap;
            word-wrap  : break-word;
        }

        .anhabc {

            .upanh {
                padding      : 5px;
                border-radius: 3px;
                background   : #ddd;
                cursor       : pointer;

                &.hover {
                    opacity: 0.9;
                }
            }

            .anh {
                height         : 50px;
                width          : 180%;
                border         : 1px solid #ddd;
                border-radius  : 5px;
                background     : center center no-repeat;
                background-size: contain;
                cursor         : pointer;
            }
        }

        .gia {
            display     : flex;
            gap         : 41px;
            padding-left: 16px;

            .khoigia {
                input {
                    width: 260px;
                }
            }

            &.gia1 {
                gap: 85px;
            }
        }
    }

    .item3 {
        margin-top: 20px;

        i {
            margin : 0px 10px;
            opacity: 0.5;

            &:hover {
                opacity: 1;
            }
        }

        button {
            border          : none;
            background-color: white;
        }
    }
}