.dangnhap {
  display        : flex;
  justify-content: center;
  align-items    : center;



  .form {
    border       : 1px solid #ccc;
    border-radius: 6px;
    padding      : 18px;

    .spandangnhap {
      text-transform: uppercase;
      font-weight   : 600;
      font-size     : 25px;
      text-align    : center;
    }

    .inputmk {
      position: relative;


    }

    .xemmk {
      position: absolute;
      right   : 555px;
      top     : 443px;
      cursor  : pointer;
    }

    .xemmkdangnhap {
      right: 500px !important;
    }

    .butdangnhap {
      background-color: #e91e63;
      font-weight     : 500;
      color           : white;
    }

    .qmk-dk {
      display   : flex;
      gap       : 50px;
      margin-top: 20px;

      .qmk {
        cursor: pointer;
      }

      .dangky {
        text-decoration: none;
        color          : #696363;

        .dk {
          cursor: pointer;
        }
      }

    }
  }
}