.doimk {
    border : 1px solid #ccc;
    width  : 410px;
    margin : auto;
    padding: 15px;

    .mk {
        .inputmk {
            position: relative;
        }

        .xemmkdoimk {
            position: absolute;
            cursor  : pointer;
            left    : 925px;
            top     : 352px;
            z-index : 2;
        }
    }

    .nhaplaimk {
        .inputmk {
            position: relative;
        }

        .xemmkdoimk {
            position: absolute;
            cursor  : pointer;
            left    : 924px;
            top     : 437px;
        }
    }

    span {
        text-transform : uppercase;
        font-weight    : 600;
        display        : flex;
        justify-content: center;
        font-size      : 23px;
    }

    .btndoimk {
        font-weight     : 400;
        background-color: #e91e63;
        color           : white;
        text-transform  : uppercase;
    }
}