.donhangnguoidung {
    margin: 0 168px;

    .item1 {
        text-transform: uppercase;
        font-weight   : 600;
        font-size     : 25px;
        text-align    : center;
        margin        : 20px 0;

    }

    .item2 {
        display    : flex;
        gap        : 10px;
        margin-left: 548px;

        label {
            font-weight: 600;
            margin-top: 5px;
        }

        .chontrangthai {
            width: 432px;
        }
    }

    .item3 {
        margin-top: 20px;

        i {
            margin : 0px 10px;
            opacity: 0.5;

            &:hover {
                opacity: 1;
            }
        }

        .button {
            font-weight     : 500;
            background-color: #e91e63;
            color           : white;
            width           : 78px;
        }
    }

}