.quenmk {
    border : 1px solid #ccc;
    width  : 410px;
    margin : auto;
    padding: 15px;

    .btnquenmk {
        font-weight: 400;
        background-color: #e91e63;
        color: white;
        text-transform: uppercase;
    }
}