.quanly {
    position: relative;
    .chat {
        position    : sticky;
        bottom      : 14px;
        text-align  : right;
        margin-right: 13px;
        margin-left : -43px;

        .iconchat {
            border-radius: 50%;
            cursor: pointer;
            position: fixed;
            bottom: 8px;
            right: 25px;
        }
    }

    .manhinhchat {
        width   : 1535px;
        z-index : 10;
        position: fixed;
        bottom  : 45px;
        left    : 436px;
    }
}