.quanly {
    position: relative;

    .chat {
        position    : sticky;
        bottom      : 14px;
        text-align  : right;
        margin-right: 13px;
        margin-left : -43px;

        .iconchat {
            position     : relative;
            border-radius: 50%;
            cursor       : pointer;
            position     : fixed;
            bottom       : 8px;
            right        : 25px;
        }

        .sotinnhanmoi {
            position        : absolute;
            top             : 595px;
            right           : 5px;
            z-index         : 2;
            font-size       : 15px;
            background-color: #e91e63;
            border-radius   : 22px;
            width           : 20px;
            text-align      : center;
            color           : white;

            .fa-circle:before {

                color: #e91e63;
            }
        }
    }

    .manhinhchat {
        width   : 1535px;
        z-index : 10;
        position: fixed;
        bottom  : 45px;
        left    : 436px;
    }
}