
@font-face {
    font-family: 'Roboto';
    /* src: url('./font/VHCLARE.TTF') format('truetype'); */
    src: url('./font/VHCENTN.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
  }